.author {
  display: none;
  text-align: center;
}

.todaysQuote {
  position: fixed bottom;
  align-content: center;
  text-align: center;
}

.todaysQuote:hover + .author {
  display: block;
}

#image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#toDoDiv {
  margin-top: 20%;
}

.toDoWell {
  padding-left: 30%;
}

.weatherWell {
  padding-left: 5%;
}
